In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy.types import *
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

username = "root"
password = "ManonFire12!" # (or whatever password you chose during mysql installation)
connection = f"mysql+pymysql://{username}:{password}@localhost/movies"
    
engine = create_engine(connection)

In [7]:
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [8]:
basics = pd.read_csv('Data/final_basics.csv.gz',low_memory = False)
ratings = pd.read_csv('Data/final_ratings.csv.gz', low_memory = False)

# Genre's Table

## Getting List of Unique Genres

In [9]:
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000.0,NaN,86,"Musical,Romance","[Musical, Romance]"
2,tt0113092,movie,For the Cause,For the Cause,0,2000.0,NaN,100,"Action,Adventure,Drama","[Action, Adventure, Drama]"
3,tt0114447,movie,The Silent Force,The Silent Force,0,2001.0,NaN,90,Action,[Action]
4,tt0115937,movie,Consequence,Consequence,0,2000.0,NaN,91,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
2989,tt9212730,movie,Yakuza Zombie,Zonbi gokudo,0,2001.0,NaN,87,"Horror,Thriller","[Horror, Thriller]"
2990,tt9228234,movie,The Narc Enigma,The Narc Enigma,0,2001.0,NaN,93,Action,[Action]
2991,tt9412476,movie,Contratiempo Mortal,Contratiempo Mortal,0,2000.0,NaN,90,Action,[Action]
2992,tt9555974,movie,Haunted School,Gui xue xiao,0,2001.0,NaN,85,Horror,[Horror]
2993,tt9578462,movie,Crying Sky,Ku qi de tian kong,0,2001.0,NaN,85,Drama,[Drama]

In [10]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000.0,NaN,86,"Musical,Romance",Musical
1,tt0113026,movie,The Fantasticks,The Fantasticks,0,2000.0,NaN,86,"Musical,Romance",Romance
...,...,...,...,...,...,...,...,...,...,...
2989,tt9212730,movie,Yakuza Zombie,Zonbi gokudo,0,2001.0,NaN,87,"Horror,Thriller",Thriller
2990,tt9228234,movie,The Narc Enigma,The Narc Enigma,0,2001.0,NaN,93,Action,Action
2991,tt9412476,movie,Contratiempo Mortal,Contratiempo Mortal,0,2000.0,NaN,90,Action,Action
2992,tt9555974,movie,Haunted School,Gui xue xiao,0,2001.0,NaN,85,Horror,Horror
2993,tt9578462,movie,Crying Sky,Ku qi de tian kong,0,2001.0,NaN,85,Drama,Drama

In [11]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [12]:
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western']

## Create a new `title_genres` table

In [13]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0113026      Musical
1  tt0113026      Romance

## Create a Genre Mapper Dictionary

In [14]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'History': 10,
 'Horror': 11,
 'Music': 12,
 'Musical': 13,
 'Mystery': 14,
 'Reality-TV': 15,
 'Romance': 16,
 'Sci-Fi': 17,
 'Short': 18,
 'Sport': 19,
 'Thriller': 20,
 'War': 21,
 'Western': 22}

## Replace the String Genres in `title_genres` with the New Integer Ids

In [15]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

## Convert the Genre Map Dictionary into a Dataframe

In [16]:
genre_lookup = pd.DataFrame({ 'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})
genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# MySQL

In [17]:
basics = basics.drop(columns = ['endYear', 'genres', 'genres_split', 'originalTitle'], inplace = True)

In [18]:
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()

df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    "isAdult":Integer(),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

In [ ]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')